/*
COMP90024 Cluster and Cloud Computing
Group 5
Aleksandar Pasquini (912504)
Amelia Fleischer-Boermans (389511)
Isaac Daly (1129173)
Mahardini Rizky Putri (921790)
Richard Yang (1215150)
*/
.mapTooltip {
	position: absolute;
	z-index: 9;
	background: rgba(0, 0, 0, 0.8);
	margin: 8px;
	padding: 4px;
	color: #fff;
	max-width: 300px;
	font-size: 10px;
	pointer-events: none;

	display: grid;
	grid-template-columns: auto auto;
	column-gap: 10px;
}
